body{
   
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(243, 230, 210);
}
.headerBgDark{
    background-color: #2E4F4F !important;
}
.headerBgLight{
    background-color: #539165;
}
