body{
    background: url("../assets/lib1.jpg") no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    }
.headerBgDark{
    background-color: #2E4F4F !important;
}
.headerBgLight{
    background-color: #539165;
}
